################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataBaseProject/.vs/DataBaseProject/v16
/DataBaseProject/DataBaseProject/obj/Debug
/DataBaseProject/DataBaseProject/bin/Debug
/DataBaseProject/.vs/DataBaseProject/config
/DataBaseProject/BlogApp/bin/Debug/netcoreapp3.1
/DataBaseProject/BlogApp/obj
/DataBaseProject/BlogApp/Properties
/DataBaseProject/BlogApp/appsettings.json
/DataBaseProject/BlogApp/appsettings.Development.json
/BlogApp/.vs/BlogApp/v16
/BlogDataBase/.vs/BlogDataBase/v16
/BlogDataBase/BlogDataBase/bin/Debug
/BlogDataBase/BlogDataBase/obj/Debug
/BlogApp/.vs/BlogApp/DesignTimeBuild
/BlogApp/BlogApp/bin/Debug/netcoreapp3.1
/WebBlogApp/.vs/WebBlogApp/v16
/WebBlogApp/WebBlogApp/obj
/WebBlogApp/WebBlogApp/Properties
/WebBlogApp/WebBlogApp/appsettings.Development.json
/WebBlogApp/WebBlogApp/appsettings.json
