################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataBaseProject/.vs/DataBaseProject/v16
/DataBaseProject/DataBaseProject/obj/Debug
